.Card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px;
    background-color: #caecfe;
    /* border: 1px solid #979797; */
    box-shadow: 0 10px 10px rgba(0,0,0,0.5);
    /* border-radius: 68px; */
    height: 300px;
    width: 300px;
    padding: 15px;
}
.RightCard {
    display: flex;
    flex-direction: column;
    width: 800px;
    padding: 15px;
    align-items: center;
    /* justify-content: center; */
    /* align-items: center; */
}

.Title {
    text-align: center;
    font-family: LiSung;
    font-size: 30px;
    color: #000000;
    letter-spacing: 0;

}
.Card a {
    color: #000000;
    font-family: LiSungLight;
}

.Card a:hover {
    cursor: pointer;
    color: #757575;
}

.Description {
    text-align: center;
    font-family: LiSungLight;
    font-size: 18px;
    color: #1E1E1E;
    letter-spacing: 0;
    margin: 5px;
    background-color: rgba(156, 106, 106, 0);

}

.Date {
    font-family: LiSungLight;
    font-size: 12px;
    color: #000000;
    letter-spacing: 0;
    margin: 10px;
}

.Url {
    font-family: LiSungLight;
    font-size: 24px;
    color: #1E1E1E;
    letter-spacing: 0;
    margin-top: 20px;


}